.category-selector {
  column-gap: 48px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}

.fileupload {
  column-gap: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 18px;
}

.output {
  border: 1px solid;
  width: 600px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 6px;
  align-content: center;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.required::after{
  content: "*";
  color: red;
}

.file {
    border: 1px solid;
    border-radius: 5px;
}

.nsfwContent {
  display: flex;
    align-items: center;
    flex-direction: column;
}